.App {
  font-family: sans-serif;
  width: 90vw;
  max-width: 1600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.dropdown-container {
  width: 80%;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.arrowBtn {
  background: none;
  border: none;
}
.arrowBtn.active {
  transform: rotate(180deg);
}

.options-dropdown {
  width: 80%;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chips {
  padding: 0.3rem;
  margin: 3px;
  width: 6rem;
  display: flex;
  justify-content: space-between;
}
